<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Edit Student</title>
<style>
body { font-family: Arial; background:#f6f1ff; padding:20px; }
h1 { color:#6a0dad; }
input { width:100%; padding:10px; margin:8px 0; border:1px solid #aaa; border-radius:5px; }
button { background:#7d2ae8; color:white; padding:12px; border:none; border-radius:5px; cursor:pointer; }
</style>
</head>
<body>

<h1>Edit Student</h1>
<a href="/students">⬅ Back</a> | <a href="/logout">Logout</a>

<form method="POST" enctype="multipart/form-data">
<label>Username</label>
<input type="text" name="username" value="{{ user.username }}" required>

<label>Email</label>
<input type="email" name="email" value="{{ user.email }}" required>

<label>New Password </label>
<input type="password" name="password" placeholder="Leave blank to keep same">

<button type="submit">Update</button>
</form>

</body>
</html>

