<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Edit Student</title>
<style>
body { font-family: Arial; background:#f6f1ff; padding:20px; }
h1 { color:#6a0dad; }
input { width:100%; padding:10px; margin:8px 0; border:1px solid #aaa; border-radius:5px; }
button { background:#7d2ae8; color:white; padding:12px; border:none; border-radius:5px; cursor:pointer; }
</style>
</head>
<body>

<h1>Edit Student</h1>
<a href="/students">⬅ Back</a> | <a href="/logout">Logout</a>

<form method="POST" enctype="multipart/form-data">
<label>Username</label>
<input type="text" name="username" value="{{ user.username }}" required>

<label>Email</label>
<input type="email" name="email" value="{{ user.email }}" required>

<label>New Password </label>
<input type="password" name="password" placeholder="Leave blank to keep same">

<button type="submit">Update</button>
</form>
<!-- FOOTER -->
<footer style="
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(6px);
    color: #fff;
    font-size: 13px;
">
    © <a href="https://www.pravarainfotech.in/" 
         target="_blank"
         style="color: #551d55; text-decoration:none; font-weight:600;">
        pravarainfotech.in
    </a>
</footer>

</body>
</html>
